/* General Styles */

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(5, 121, 121);
  padding: 12px;
  color: white;
  padding-inline: 45px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
  margin-right: 20px;
}

.navbar-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ddd;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar-right {
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
  }
}
